<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BIES沉浸式教育平台</title>
</head>
<body>
<div id="container" style="width: 1920px;">
        <!-标题->
        <div id="header" >
            <h1 align="center">BIES沉浸式教育平台-课程列表</h1>
        </div>

        <div style="background:url('https://fdgame.oss-cn-beijing.aliyuncs.com/BIES/misc_cd_bottom.png') no-repeat;width:100px;height:50px;font-size: 20px">小学课程</div>

        <div>
            <p style="font-size: 20px">100010       100011      100012      100013      100014      100015      100016      100017      10018</p>
            <p style="font-size: 20px">100019       100020      100021      10022       100023      100024      100025      100026      10019</p>
            <p style="font-size: 20px">100027    </p>
        </div>

    <br>

        <div style="background:url('https://fdgame.oss-cn-beijing.aliyuncs.com/BIES/misc_cd_bottom.png') no-repeat;width:100px;height:50px;font-size: 20px">初中课程</div>

        <div>
            <p style="font-size: 20px">200010       200011      200012      200013      200014        200015      200016      200017      20018</p>
            <p style="font-size: 20px">200019       200020      200021      20022       200023        200024      200025      200026      20019</p>
            <p style="font-size: 20px">200027    </p>
        </div>

    <br>

        <div style="background:url('https://fdgame.oss-cn-beijing.aliyuncs.com/BIES/misc_cd_bottom.png') no-repeat;width:100px;height:50px;font-size: 20px">高中课程</div>

        <div>
            <p style="font-size: 20px">300010       300011      300012      300013      300014        300015      300016      300017      30018</p>
            <p style="font-size: 20px">300019       300020      300021      30022       300023        300024      300025      300026      30019</p>
        </div>

    <br>

        <div style="background:url('https://fdgame.oss-cn-beijing.aliyuncs.com/BIES/misc_cd_bottom.png') no-repeat;width:100px;height:50px;font-size: 20px">航天科普</div>

        <div>
            <p style="font-size: 20px">400010       400011      400012 </p>
        </div>

    <br>

        <div style="background:url('https://fdgame.oss-cn-beijing.aliyuncs.com/BIES/misc_cd_bottom.png') no-repeat;width:100px;height:50px;font-size: 20px">3D课程</div>

        <div>
            <p style="font-size: 20px">500010       500011      500012 </p>
        </div>


    <br>

        <div style="background:url('https://fdgame.oss-cn-beijing.aliyuncs.com/BIES/misc_cd_bottom.png') no-repeat;width:100px;height:50px;font-size: 20px">红色文化</div>

        <div>
            <p style="font-size: 20px">600010       600011      600012 </p>
        </div>

</div>
</body>
</html>