<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/webapp.css?v=02025">
  <title>云应用Example</title>
  <style>
    #desktop {
      position: relative;
      margin :0px auto;
      margin-top:10px;
      background-color: #181818;
      width: 1000px;
      height: 850px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
<div id="desktop">
</div>
<script type="text/javascript" src="/js/jquery1.10.min.js"></script>
<script type="text/javascript" src="/js/adapter-8.0.js"></script>
<script type="text/javascript" src="/js/cloudapp.js?v=1.391014041"></script>
<script type="text/javascript" src="/js/init.js"></script>
<script>
  function getQueryVariable(variable)
  {
    let query = window.location.search.substr(1);
    let vars = query.split("&");
    for (let i=0;i<vars.length;i++) {
      let index = vars[i].indexOf('=');
      if (vars[i].substring(0,index)===variable){
        return vars[i].substring(index+1);
      }
    }
    return null;
  }
  let gpu_ip= getQueryVariable("gpu_ip");
  let port=getQueryVariable("port");
  let link_token=getQueryVariable("link_token");
  let deviceId=Init.getDevice_id();
  $(function(){
    var params = {
      webServerAddr : "http://"+gpu_ip+":"+port,
      connToken     : link_token,
      deviceId      : deviceId,
      runType       : "app",  //固定值
      isForceControlMode: true,  //连接时是否自动抢占操控模式，否则可能进入旁边模式
      isShowViewOnlyMask:true,   //进入只读模式是否显示提示的遮罩
      isShowSetBar  : false,
      isShowKeyBar  : false,
      isShowMenu    : false,   //默认是否显示菜单
      isShowParam   : false,  //默认是否显示参数
      isShortcutParam:true,  //是否启用显示隐藏统计参数的快捷键，isShowParam=false时无效
      isShowPointer : true, // 是否显示用户浏览器所在系统的鼠标
      isShowRemotePointer : true, // 是否显示云桌面所在系统的鼠标
      isReceiveAudio: false,
    };
    //应用画面将显示在id为desktop对应的dom元素上
    cloudDesktopApp.loadApp("desktop",params);
    cloudDesktopApp.on('stat',function(data){
      var stat = data;
    });
    cloudDesktopApp.on('ready',function(){
      console.log('conn ready');
      //常规函数调用示例：
      // setTimeout(function(){
      //   cloudDesktopApp.exit();
      // },300000000);
      // setTimeout(function(){
      //   cloudDesktopApp.hideParam();
      // },300000000);
      // setTimeout(function(){
      //   cloudDesktopApp.showParam();
      // },300000000);
      // setTimeout(function(){
      //   cloudDesktopApp.hideMenu();
      // },300000000);
      // setTimeout(function(){
      //   cloudDesktopApp.showMenu();
      // },300000000);
      // setTimeout(function(){
      //   cloudDesktopApp.showKeyboard();
      // },300000000);
      // setTimeout(function(){
      //   cloudDesktopApp.hideKeyboard();
      // },300000000);
    });
    $(".full").click(function(){
      cloudDesktopApp.appEnterFullscreen();
    });
    $(".exit").click(function(){
      cloudDesktopApp.appExitFullscreen();
    });
    cloudDesktopApp.on('exit',function(data){
      console.log('exit');
    });
  });
  
</script>
</body>
</html>