
<!DOCTYPE html>
<html>
   <head>
      <title>Android资源检测</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
      <script src="{{ static_url('js/vue.js') }}"></script>
       <script src="{{ static_url('js/jquery-3.4.1.min.js') }}"></script>
       <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
   </head>
   <body>

    <table class="table">
      <caption>资源错误列表</caption>
      <thead>
        <tr>
          <th>来源</th>
          <th>错误信息</th>
          <th>资源路径</th>
          <th>记录时间</th>
        </tr>
      </thead>
      <tbody>


        {% for err in err_data  %}
            <tr >
              <td>{{ err["ResID"] }}</td>
              <td>{{ err["Error_Log"] }}</td>
              <td>{{ err["ResType"] }}</td>
              <td>{{ err["Date"] }}</td>
              <td id="{{ err["ID"] }}"> <input class="btn btn-primary deleteBt" id="aa1" type="submit" value="删除" /> </td>
            </tr>
        {% end %}

      </tbody>
    </table>

 



    <script>
        $(document).ready(function(){


            $(".deleteBt").click(function(){
                var ID = $(this).parent().prop("id");
                data_to_send = {
                    'ID':ID,
                };
                data_to_send = JSON.stringify(data_to_send)
                $.post("/",
                {
                    ID:ID,
                },
                function(data,status){

                    if (status == 'success'){
                            error = data.error
                            if (error != "")
                            {
                                alert(error)
                            }
                            else
                            {
                                //alert("删除成功！");
                                location.reload();
                                //return location.assign('/')
                            }
                        }else{
                            return console(err)
                        }
                });
            });

    });
    </script>

   </body>
</html>
