<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云应用Example</title>
    <script type="text/javascript" src="/js/init.js"></script>
    <link rel="stylesheet" href="/css/login_demo.css">
    <meta http-equiv="pragma" content="no-cache"> <meta http-equiv="cache-control" content=" no-cache" > <meta http-equiv="expires" content="0" >
</head>
<body>
<form action="/login/check" onsubmit="return checkLogin()" style="padding: 200px;">
    <div style="display: flex;flex-direction: column;align-items: center;">
        <div id="loading" style="display:none" class="loader"></div>
    </div>
    <div id="login_form" style="display: flex;flex-direction: column;align-items: center">
        <object style="width: 80px; height: 80px; padding: 0px" data="/image/huawei.svg" type="image/svg+xml"></object>
        <div style="font-size: 28px;font-weight: bold; padding-bottom: 10px;">云应用</div>
        <label>
            <input type="text" name="domainName" placeholder="DomainName" style="width: 180px;padding: 6px;">
        </label>
        <div style="height: 10px"></div>
        <label>
            <input type="text" name="userName" placeholder="UserName" style="width: 180px;padding: 6px;">
        </label>
        <div style="height: 10px"></div>
        <label>
            <input type="password" name="pwd" placeholder="Password" style="width: 180px;padding: 6px;">
        </label>
        <div style="height: 10px"></div>
        <label>
            <input type="text" name="project" placeholder="ProjectName" style="width: 180px;padding: 6px;">
        </label>
        <div style="height: 10px"></div>
        <label>
            <input type="text" name="appid" placeholder="AppID" onchange="updateInfo_appId(this.value)"
                   style="width: 180px;padding: 6px;">
        </label>
        <div style="height: 10px"></div>
        <label>
            <input type="text" name="applicationUser" placeholder="用户名"
                   onchange="updateInfo_applicationUser(this.value)"
                   style="width: 180px;padding: 6px;">
        </label>
        <div style="height: 10px"></div>
        <label for="info"></label><input id="info" hidden type="text" name="info" value=()
                                         style="width: 180px;padding: 6px;">
        <input type="submit" value="登录"
               style="width: 195px;padding: 6px; background: #d00f0f; color: white; height: 35px; border: #d00f0f; border-radius: 3px;">
    </div>
</form>
<script>
    let info = {
        "app_id": "",
        "application_user": "",
        "device_id": Init.getDevice_id(),
        "device_type": Init.getDevice_type(),
        "sandbox_enable": true,
        "protocol_type": Init.getProtocol_type(),
        "device_brand": Init.getDevice_brand(),
        "location": []
    }

    function updateInfo_appId(data) {
        info.app_id = data;
        document.getElementById("info").value = JSON.stringify(info);
    }

    function updateInfo_applicationUser(data) {
        info.application_user = data;
        document.getElementById("info").value = JSON.stringify(info);
    }

    function checkLogin() {
        let l_div = document.getElementById("loading");
        if (l_div.style.display == 'none') {
            l_div.style.display = 'block';
        }
        let f_div = document.getElementById("login_form");
        f_div.style.visibility = "hidden";
    }
</script>
</body>
</html>