<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BIES沉浸式教育平台-登陆</title>
</head>
<style>
    .class1{
        right: 100px;
    }
    .form-login {
        padding: 10px;
        margin: 0 auto;
    }
</style>
<body>

    <div id="container" style="width: 1920px;">
        <!-标题->
        <div id="header" >
            <h1 align="center">BIES沉浸式教育平台</h1>
        </div>

        <div id="menu" style="height:522px;width:970px;float:left;">
            <!-左边图标->
            <img src="https://fdgame.oss-cn-beijing.aliyuncs.com/BIES/l9.png" alt="some_text">
        </div>

        <form class="form-login">
            <div id="content" class="class1" style="height:200px;width:500px;float:right;">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div >
                    <input id="mobile"  value="请输入用户名" >
                </div>
                <br>
                <br>
                <div >
                    <input id="password" value="请输入密码" >

                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-lg btn-theme btn-block">登录</button>
            </div>
        </form>
        <div id="footer" style="clear:both;float: bottom;width: 1920px">
            <!-下面图标->
            <img width="1920px" src="https://fdgame.oss-cn-beijing.aliyuncs.com/BIES/b1.png" alt="some_text">
        </div>
    </div>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

            $(".form-login").submit(function(e){
                e.preventDefault();

                mobile = $("#mobile").val();

                passwd = $("#password").val();
                if (!mobile) {
                   alert("请填写正确的账号！");
                    return;
                }
                if (!passwd) {
                    alert("请填写密码!");
                    return;
                }
                var data = { "mobile":mobile,"passwd":passwd };
                var jsonData = JSON.stringify(data);
                $.ajax({
                    url:"/login",
                    type:"POST",
                    data: jsonData,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        if ("0" == data.errcode) {
                            location.href = "/course";
                            return;
                        }
                        else {
                            alert(data.errmsg);
                            return;
                        }
                    }
                });
            });
        })
    </script>

</body>
</html>