<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 第一步、视口设置-->
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <!--第二步、X5内核强制竖屏（qq,微信）/UC强制竖屏-->
    <meta name="x5-orientation" content="portrait"/>
    <meta name="screen-orientation" content="portrait"/>
    <!-- 第三步、禁止电话邮箱识别-->
    <meta name="format-detection" content="teltphone=no,email=no"/>
    <!--IE去模拟某个特定版本的IE浏览器的渲染方式-->
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <title>支付界面</title>
    <meta name="keywords" content="关键词" />
    <meta name="description" content="描述" />
    <!--引入css-->
    <link rel="stylesheet" type="text/css" href="css/type.css"/>
    <style type="text/css">
	body {
		background-image: url({{static_url('img/payback.png')}});
        text-align: center;
	}

</style>
    <!--设置视口-->
    <script type="text/javascript">
        (function(){
            var html = document.documentElement;
            var hWidth = html.getBoundingClientRect().width;
            html.style.fontSize = hWidth/16 + "px";
            console.log(hWidth/16);
        })();
    </script>
</head>
<body>
    <form action="/payorder" method="get" >
{#			<input type="hidden" name="ailPayVo.product_code" value="QUICK_WAP_PAY" />#}
{#			<input type="hidden" name="ailPayVo.total_amount" value="${coursePrice/10}" />#}
{#			<input type="hidden" name="ailPayVo.subject" value="${name}" />#}
{#			<input type="hidden" name="ailPayVo.body" value="${attach}" />#}
            <input id="iddata" type="hidden" name="PayData" value="{{ sdata["data"] }}" />
		<div  style="margin-top: 20%" >
			<div >
				<img src="{{ sdata["url"] }}" style="width: 60%;" />
			</div>
			<div class="col-sm-12" style="margin-top: 20px">
				{{ sdata["name"] }}
			</div>
			<div class="col-sm-12">
				价格：{{ sdata["price"]/100 }}元
			</div>
			<div class="col-sm-12">
				<label class="radio-inline">
					<input id="idwechat" checked="checked" type="radio"  name="PayType" value="2" /><img src="{{static_url('img/pay_wechat.png')}}" style="width: 22px;height:22px" />&nbsp;&nbsp;微信支付
				</label>
				<label class="radio-inline">
				    <input id="idali"  type="radio" name="PayType" value="1" /><img src="{{static_url('img/pay_ali.png')}}" style="width: 22px;height: 22px" />&nbsp;&nbsp;支付宝支付
				</label>
			</div>
			<div class="col-sm-12" style="margin-top: 20px">
				<button id="paybt" type="submit" class="btn btn-success">立即支付</button>
			</div>

		</div>
        </form>
{#    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>#}
{#    <script>#}
{#        $(document).ready(function(){#}
{#          $("#paybt").click(function(){#}
{#                var PayType = $("input[type='radio']:checked").val();#}
{#                var PayData = $("#iddata").val();#}
{##}
                {#alert("选择支付方式：" + PayType + " a " + data)#}
{##}
{#                var data = { "PayType":PayType,"PayData":PayData.toString() };#}
{#                var jsonData = JSON.stringify(data);#}
{#                $.ajax({#}
{#                    url: "/payorder?PayType="+PayType+"&PayData="+PayData,#}
{#                    type: "GET",#}
                    {#data: jsonData,#}
{#                    contentType: "application/json",#}
{#                    dataType: "json",#}
{#                    success: function (data) {#}
{#                        if ("0" == data.errcode) {#}
                            {#location.href = "/smspay";#}
                            {#return;#}
{#                        }#}
{#                        else {#}
{#                            alert(data.errmsg);#}
{#                            return;#}
{#                        }#}
{#                    }#}
{#                });#}
{#          });#}
{#        });#}
{#    </script>#}
</body>
</html>